@import "./theme/animations/light.css";
@font-face {
  font-family: "Orbitron";
  src: url("./theme/fonts/Orbitron-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.text-underline {
  text-decoration: underline;
}

.widget-grid-container {
  padding: 1em;
}

.widget-container {
  overflow: hidden;
  padding: 5px;
}

.controls {
  width: 100%;
  padding-bottom: 1em;
  display: inline-flex;
  border-spacing: 1ch;
}

.controls button {
  flex: 1;
}

.controls .spacer {
  flex-grow: 1;
}

button.btn-toggle-dashboard-mode {
  flex: 1;
}

.widget-iframe {
  height: 100%;
  flex-grow: 1;
}

.widget-iframe-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.widget-embedded-html-container {
  height: 100%;
}

.widget-embedded-html-container iframe {
  height: 100%;
}

.widget-clock {
  font-family: "Orbitron";
  font-size: 4em;
  display: block;
  text-align: center;
}

.widget-clock-date {
  font-family: "Orbitron";
  font-size: 1.5em;
  display: block;
  text-align: center;
}

.widget-clock-container {
  height: 100%;
  background: radial-gradient(#a23982, #1f1013);
  color: white;
}

.alert-top {
  border-radius: 0 !important;
}